<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns# website: http://ogp.me/ns/website#">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= page.title %></title>
	<meta name="description" content="<%= page.description %>">
	<link rel="stylesheet" href="<%= site.rootUrl %>/css/style.css">
	<script defer src="<%= site.rootUrl %>/js/bundle.js"></script>

	<!-- ogp -->
	<meta property="og:url" content="<%= page.url %>" />
	<meta property="og:type" content=<%= page.ogpType %> />
	<meta property="og:title" content="<%= page.title %>" />
	<meta property="og:description" content="<%= page.description %>" />
	<meta property="og:site_name" content="<%= page.title %>" />
	<meta property="og:image" content="<%= page.ogpImage %>">

	<!-- Twitter Card -->
	<meta name="twitter:image" content="<%= page.ogpImage %>">
	<meta name="twitter:domain" content="<%= page.url %>">
	<meta name="twitter:card" content="summary">
	<meta property="twitter:description" content="<%= page.description %>">
	<meta property="twitter:title" content="<%= page.title %>">
	<meta property="twitter:url" content="<%= page.url %>">
	<meta name="twitter:creator" content="@<%= site.twitter %>">
	<meta name="twitter:site" content="@<%= site.twitter %>">
</head>

<body>
	<div class="container">